@page "{id:int?}"
@model EshopWebApp.Pages.Admin.ProductPages.DeleteProductModel

@{
    ViewData["Title"] = "DeleteProduct";
}

<h1>DeleteProduct</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Product</h4>
    <hr />
    @await Html.PartialAsync("_Product",Model.Product)
    
    <form method="post">
        <input type="hidden" asp-for="Product.ProductID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="/Admin/AdminPanel">Back to Admin Panel</a>
    </form>
</div>
