/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
	white-space: normal;
	text-align: center;
	word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
	color: #0366d6;
}

.btn-primary {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
	background-color: #1b6ec2;
	border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

.border-top {
	border-top: 1px solid #e5e5e5;
}

.border-bottom {
	border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
	font-size: 1rem;
	line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	white-space: nowrap;
	line-height: 60px; /* Vertically center the text there */
}
/*ThemeMode*/
.themeMode-btn {
	background-color: black;
	color: white;
}

.themeMode-white {
	background-color: whitesmoke;
	color: black;
}

.themeMode-black {
	background-color: #303030;
	color: white;
}
/*product*/
.productBar {
	background-color: white;
	color: black;
	text-align: left;
	min-height: 300px;
	margin-bottom: 20px;
	border-radius: 20px;
}

.productImgPar {
	width: 100%;
}

	.productImgPar img {
		max-width: 100%;
		max-height: 300px;
	}

.productTextPar {
}

.productHeaderPar {
	padding: 10px;
}

.productTextblockPar {
}

.productTextblock {
	padding: 5px;
	padding-left: 15px;
}

.productPricePar {
	position: relative;
	height: 100%;
}

.productPrice {
	transform: rotate(90deg);
	transform-origin: left;
	min-width: 250px;
}

	.productPrice span {
		font-size: 2.4rem;
		font-weight: 700;
	}
/*Product bar small*/
.productSmallBar {
	padding-bottom: 5px;
}
/*ProductFullsize*/
.productShow {
	background-color: white;
	color: black;
	border-radius:20px;
	padding:10px;
	margin:10px;
}

.productShowLeft {
	width:100%;
}

	.productShowLeft img {
		max-width:100%;
		
	}

.productShowRight {
}

	.productShowRight h2 {
	}

	.productShowRight h4 {
		color: darkgray;
	}

	.productShowRight p {
	}

	.productShowRight span {
		font-size: 1.3rem;
	}
