@model ServiceLayer.ProductService.ProductListDto

<div class="productBar container">
	<div class="row">
		<div class="col-3">
			<div class="productImgPar">
				@if (!string.IsNullOrEmpty(Model.ImgPath))
				{
					<img asp-append-version="true" src="~/img/@Model.ProductID.@Model.ImgPath" />
				}
				else
				{
					<img asp-append-version="true" src="~/img/Placeholder.png" />
				}
			</div>
		</div>
		<div class="col-8">
			<div class="productTextPar">
				<div class="productHeaderPar">
					<h2>
						@if (!string.IsNullOrEmpty(Model.BrandName))
						{
							@Model.BrandName@: - 
						}
						@Model.Name
					</h2>
				</div>
				<div class="productTextblockPar">
					<p class="productTextblock">
						@Model.Description
					</p>
					@if (Model.Featured)
					{
						<span>This product is featured</span>
					}
				</div>
			</div>
		</div>
		<div class="col-1">
			<div class="productPricePar">
				<div class="productPrice">
					<span>@Model.Price.ToString("c")</span>
				</div>
			</div>
		</div>
	</div>
</div>
